openapi: 3.2.0
info:
  title: Mydentify Public Product Categories.json API
  version: 1.4.0
  description: Read product directories and weekly leaderboard data or create a product. Public endpoints use HTTPS and need no API key. Directory JSON endpoints allow browser requests from any origin.
servers:
- url: https://mydentify.com
security: []
tags:
- name: Product Categories.json
paths:
  /product-categories.json:
    get:
      summary: Get Mydentify's portable product category taxonomy and directory mappings
      responses:
        '200':
          description: Product category catalog
          content:
            application/json:
              schema:
                type: object
                required:
                - type
                - schemaVersion
                - categories
                properties:
                  type:
                    const: product-category-catalog
                  schemaVersion:
                    type: string
                  categories:
                    type: array
                    items:
                      $ref: '#/components/schemas/ProductCategory'
      tags:
      - Product Categories.json
components:
  schemas:
    ProductCategory:
      type: object
      required:
      - slug
      - name
      - description
      - externalMappings
      - approvedProductCount
      properties:
        slug:
          type: string
        name:
          type: string
        description:
          type: string
        externalMappings:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
        approvedProductCount:
          type: integer
          minimum: 0
externalDocs:
  description: Use the Mydentify public API
  url: https://mydentify.com/developers
x-cors:
  description: Directory JSON endpoints allow browser requests from any origin.
  allowOrigins:
  - '*'
